# Package and package dependencies
-e .

# Development dependencies
coverage>=7.6.2,<7.7

# Cron
croniter>=3.0.3,<3.1

# TestApp dependencies
django>=4.2,<5.2
django-cronfield>=0.2.0,<0.3

# Linters and formatters
pre-commit>=4.0.1,<4.1
